# Loading DataSet

## Importing Libraries

In [41]:
import numpy as np
import pandas as pd

In [3]:
iris_datatxt=pd.read_csv("Datasets/Iris_data_sample.csv")

In [4]:
iris_datatxt

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
iris_datatxt=pd.read_table("Datasets/Iris_data_sample.txt", delimiter=" ")

In [6]:
iris_datatxt

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
iris_data_xlx=pd.read_excel("Datasets/Iris_data_sample.xlsx")

In [8]:
iris_data_xlx

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
# creating a Copy of the original
## Shallow Copy
df_1=iris_data_xlx.copy(deep=False)

In [10]:
## Deep copy
df_2=iris_data_xlx.copy(deep=True)

In [11]:
df_3=iris_data_xlx.copy()

In [12]:
## Delete item from the dataset
del df_1["Unnamed: 0"]

In [13]:
del df_2["Unnamed: 0"]

In [14]:
del df_3["Unnamed: 0"]

In [15]:
df_1

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
0             5.1           3.5           1.4           0.2     Iris-setosa
1             4.9           NaN           1.4           0.2             NaN
2             4.7           3.2           1.3           0.2     Iris-setosa
3              ??           3.1           1.5           0.2     Iris-setosa
4               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
145           6.7           3.0           5.2           2.3  Iris-virginica
146           6.3           2.5             5           1.9  Iris-virginica
147           6.5           3.0           5.2           2.0  Iris-virginica
148           6.2           3.4           5.4           2.3  Iris-virginica
149           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [16]:
df_2

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
0             5.1           3.5           1.4           0.2     Iris-setosa
1             4.9           NaN           1.4           0.2             NaN
2             4.7           3.2           1.3           0.2     Iris-setosa
3              ??           3.1           1.5           0.2     Iris-setosa
4               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
145           6.7           3.0           5.2           2.3  Iris-virginica
146           6.3           2.5             5           1.9  Iris-virginica
147           6.5           3.0           5.2           2.0  Iris-virginica
148           6.2           3.4           5.4           2.3  Iris-virginica
149           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

# Data Overview
### index
### column
### size
### shape

In [17]:
df_3.index

RangeIndex(start=0, stop=150, step=1)

In [18]:
df_3.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [19]:
df_3.size

750

In [20]:
df_3.shape

(150, 5)

In [21]:
df_3.ndim

2

In [22]:
df_2.ndim

2

In [23]:
df_3.count()

SepalLengthCm    150
SepalWidthCm     149
PetalLengthCm    149
PetalWidthCm     150
Species          149
dtype: int64

## Indexing and selecting

In [24]:
## .head() returns first 5 rows

df_3.head(10)

  SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm      Species
0           5.1           3.5           1.4           0.2  Iris-setosa
1           4.9           NaN           1.4           0.2          NaN
2           4.7           3.2           1.3           0.2  Iris-setosa
3            ??           3.1           1.5           0.2  Iris-setosa
4             5           3.6           ###           0.2  Iris-setosa
5           5.4           3.9           NaN           0.4  Iris-setosa
6           4.6           3.4           1.4           0.3  Iris-setosa
7             5           3.4           1.5           0.2  Iris-setosa
8           4.4           2.9           1.4           0.2  Iris-setosa
9           4.9           3.1           1.5           0.1  Iris-setosa

In [25]:
## tail returns last 5 rows
df_3.tail()

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
145           6.7           3.0           5.2           2.3  Iris-virginica
146           6.3           2.5             5           1.9  Iris-virginica
147           6.5           3.0           5.2           2.0  Iris-virginica
148           6.2           3.4           5.4           2.3  Iris-virginica
149           5.9           3.0           5.1           1.8  Iris-virginica

In [27]:
### To call a particular cell value using the metafunction .at or iat

df_3.at[2, "SepalLengthCm"]

4.7

In [30]:
df_3.iat[2,0]

4.7

In [34]:
## Getting data across columns using the lock function
df_3.loc[45:80, "SepalLengthCm"]

45    4.8
46    5.1
47    4.6
48    5.3
49      5
50      7
51    6.4
52    6.9
53    5.5
54    6.5
55    5.7
56    6.3
57    4.9
58    6.6
59    5.2
60      5
61    5.9
62      6
63    6.1
64    5.6
65    6.7
66    5.6
67    5.8
68    6.2
69    5.6
70    5.9
71    6.1
72    6.3
73    6.1
74    6.4
75    6.6
76    6.8
77    6.7
78      6
79    5.7
80    5.5
Name: SepalLengthCm, dtype: object

## Data type
#### . numeric - ints and floats
#### . non- numeric - objects(categoric or non-categoric)

In [49]:
toyota=pd.read_csv("Datasets/Toyota.csv")
df = toyota.copy()

In [50]:
toyota.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [51]:
df.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [53]:
del df["Unnamed: 0"]

In [54]:
df

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [56]:
df.size

14360

In [57]:
## to check the types of each column - using dtypes
df.dtypes

Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [60]:
## Select a section of the data based on type
df.select_dtypes(exclude=[object])

      Price   Age  MetColor  Automatic    CC  Weight
0     13500  23.0       1.0          0  2000    1165
1     13750  23.0       1.0          0  2000    1165
2     13950  24.0       NaN          0  2000    1165
3     14950  26.0       0.0          0  2000    1165
4     13750  30.0       0.0          0  2000    1170
...     ...   ...       ...        ...   ...     ...
1431   7500   NaN       1.0          0  1300    1025
1432  10845  72.0       0.0          0  1300    1015
1433   8500   NaN       0.0          0  1300    1015
1434   7250  70.0       1.0          0  1300    1015
1435   6950  76.0       0.0          0  1600    1114

[1436 rows x 6 columns]

In [61]:
### GET A CONCISE SUMMARY OF DATAFRAME
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 112.3+ KB

In [62]:
## check unique instances in KM Column
print(np.unique(df['KM']))

['1' '10000' '100123' ... '99865' '99971' '??']

In [63]:
print(np.unique(df['MetColor']))

[ 0.  1. nan]

In [64]:
print(np.unique(df['HP']))

['107' '110' '116' '192' '69' '71' '72' '73' '86' '90' '97' '98' '????']

In [65]:
print(np.unique(df['Automatic']))

[0 1]

In [66]:
print(np.unique(df['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']