In [1]:
## Importing libraries
import numpy as np
import pandas as pd
## Data visualisation
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

# loading and creating a copy of data

In [2]:
toyota_data=pd.read_csv("Datasets/Toyota.csv")

In [3]:
td=toyota_data.copy()

In [4]:
td.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [5]:
td.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM             object
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [6]:
td.size

15796

In [7]:
td.shape

(1436, 11)

In [8]:
td.columns

Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight'],
      dtype='object')

In [9]:
## Output the number of rows and columns
print(f"Total Number of Rows: {td.shape[0]} => Total Number of Columns: {td.shape[1]}")

Total Number of Rows: 1436 => Total Number of Columns: 11

In [10]:
## concise info about dataframe 
td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

## check unique instances of columns
> HP
> KM
> MetColor
> Automatic
> Doors

In [11]:
print(np.unique(td['HP']))

['107' '110' '116' '192' '69' '71' '72' '73' '86' '90' '97' '98' '????']

In [12]:
print(np.unique(td['MetColor']))

[ 0.  1. nan]

In [13]:
print(np.unique(td['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']

In [14]:
print(np.unique(td['KM']))

['1' '10000' '100123' ... '99865' '99971' '??']

## Data pre-processing steps
eg. delete, checking unique instances of columns, replacing

In [15]:
## Replace a the special char "??" in KM with NaN
td['KM'].replace('??', np.nan)

0       46986
1       72937
2       41711
3       48000
4       38500
        ...
1431    20544
1432      NaN
1433    17016
1434      NaN
1435        1
Name: KM, Length: 1436, dtype: object

In [16]:
print(np.unique(td['KM']))

['1' '10000' '100123' ... '99865' '99971' '??']

In [17]:
td['KM'] = td['KM'].replace('??', np.nan)

In [19]:
td['KM']=td['KM'].astype(float)

In [20]:
print(np.unique(td['KM']))

[1.0000e+00 1.5000e+01 2.2500e+02 ... 2.3294e+05 2.4300e+05        nan]

### change data type of a column using .astype
that resolves the error above

td['KM']=td['KM'].astype(float)